body {margin: 0;}
canvas {width: 100%; height: 100%}

#popup {
  display: none;
  width: 500px;
  height: 300px;
  margin-top: 120px;
}

#voltageChart path {
  fill: none;
  stroke: #000000;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

#voltageChart text {
  fill: black;
  font-size: 12px;
  text-anchor: end;
}

#voltageChart .frameCursor {
  stroke: steelblue;
  stroke-width: 1.5px;
}

#voltageChart .circle {
  fill: none;
  stroke: steelblue;
}

#voltageChart .overlay {
  fill: none;
  pointer-events: all;
}

#voltageChart {
  position: absolute;
  top: 0;
  left: 0;
}

#mdsChart {
  position: absolute;
  top: 0;
  left: 0;
  width: 320;
  height: 320;
  visibility: hidden;
}

.form-group {
  display: flex;
}

.form-group label {
  text-align: right;
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

#loading-pic {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  display: block;
}

#close-dialog, #close-dialog-cross {
  display: none;
}

#legend-div {
  position: absolute;
  z-index: 100000;
  right: 0;
  bottom: 0;
  width: 270px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  display: none;
}

#timestep-div {
  position: absolute;
  z-index: 100000;
  left: 0;
  top: 0;
}

#value-legend,
#label-legend {
  width: 270px;
  height: 50px;
}

#label-legend{
  display: none;
}

.value-legend-rect {
  fill: url(#mainGradient);
  stroke: black;
}

.stop-left {
  stop-color: #3366cc;  /* blue */
}

.stop-middle {
  stop-color: #ffffff;  /* white */
}

.stop-right {
  stop-color: #b82e2e;  /* red */
}

.label-legend-rect.negative {
  fill: #3366cc;
}

.label-legend-rect.zero {
  fill: #000000;
}

.label-legend-rect.positive {
  fill: #b82e2e;
}

.label-legend-rect.outer {
  stroke: black;
}

#timestep-div {
  padding-left: 10px;
  display: none;
}

.info-tooltip {
  display: none;
  position: absolute;
  z-index: 99999999;
  background-color: rgba(255, 255, 255, .95);
  padding: 8px 12px;
  transition: x .25s ease-out;
  transition: y .25s ease-out;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #888888;
}

.pointer-class {
  cursor: pointer;
}